/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;

}


/* CSS RESET FOR OLDER BROWSERS */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    
    display: block;
}

body {

    line-height: 1;

}

blockquote, q {
    
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {

    content: '';
    content: none;

}

table {
    
    border-collapse: collapse;
    border-spacing: 0;

}

strong, b {

    font-weight: bold;

}

em, i {

    font-style: italic;

}

a img {
    
    border: none;

}

/* END RESET */

/* INDEX PAGE STYLES */

html {

    scroll-behavior: smooth;
    scrollbar-width:none;
    font-family: 'Helvetica Neue',sans-serif;
    color: #000;

}

/* START OF MAIN CONTAINER STYLES */

.mainContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 14vh 60vh 30vh 76vh 10vh;
    grid-template-areas: 
        "nav   nav   nav   nav   nav"
        "bill  bill  bill  bill  bill"
        "wc    wc    wc    wc    wc"
        "cards cards cards cards cards"
        "ftr   ftr   ftr   ftr   ftr";
}

/*  START OF NAVBAR STYLES */

.navbar {
    grid-area: nav;
    background-color: #fff;
    border-bottom: 1.5px solid #000;
    font-family: 'Helvetica Neue',sans-serif;
    display: flex;
    flex-basis: 100%;
    justify-content:space-evenly;
    top: 0;
    position: sticky;
    z-index: 1;

}

.navOptions {
    font-size: 1em;
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
    height: 100%;
    align-content: end;
    text-align: center;

}

.navbar a {
    flex: 60%;
    line-height: 2;
}

.navbar img {
    width: 5vw;
    margin-top: 1.6em;
    margin-right: 0.5em;
}

.navOptions:hover {

    color: black;
    font-weight: bolder;
    border-bottom: 2px solid orangered;
    padding-top: 2px;
    cursor: pointer;    
}

.logoLink:hover{
    border-bottom: none;    
}

.navbx-1 {
    order: 1;    
}

.navbx-2 {
    order: 2;
}

.navbx-3 {
    order: 3;
}

.navbx-4 {
    order: 4;
}

.navImg {
    flex: 50%;
    order: 5;
    font-size: 1.1em;
    font-weight: bold;
    align-content: flex-end;
    line-height: 3;
}

/* END OF NAV BAR STYLES */
/*  BILLBOARD STYLES STARTS */

.billboard {
    grid-area: bill;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */

}

.billboardImg {
    padding-top: 2em;
    width: 50vw;
    height: 50vh;

}

/* BILLBOARD STYLES ENDS */
/* WELCOME CENTER STYLES STARTS */
.welcomeCenter {
    grid-area: wc;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;

}

.welcomeCenter h1 {
    flex-grow: 2;  
    
}

.welcomeCenter h2 {
    flex-grow: 8;
}

/* WELCOME CENTER STYLES ENDS */
/* SERVICES CARDS STYLES STARTS */


.cardsContainer {
    grid-area: cards;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.cards {
    border: 1px solid slategrey;
    color: #000;
    background-color: rgba(192,192,192,0.53);
    border: 3.5px solid silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    height: 60vh;
    width: 25vw;
    overflow: hidden;

}

.cards img {
    height: 35vh;
    width: 25vw;
    transition: width 1s;

}
.cardsContainer a:hover {
    color: black;
    font-weight: bolder;
    text-decoration-line: underline;
    cursor: pointer;

}

.cards img:hover {
    width: 26vw;   

}

.cards h3{
    display: block;
    height: 5vh;
    width: 25vw;
    align-content: center;
    padding-left: 0.5em;
    text-align: left;
    font-size: 1.5em;

}
.cards h4{
    display: block;
    height: 15vh;
    width: 25vw;
    padding: 0.2em;
    align-content: center;

}
.cards a{
    display: block;
    height: 4vh;
    width: 25vw;
    text-decoration: none;
    align-content: center;
    color: #000;

}

.cardbx-1 {
    order: 1;
}

.cardbx-2 {
    order: 2;
}

.cardbx-3 {
    order: 3;
}

/* SERVICES CARDS STYLES ENDS */

.footer {
    grid-area: ftr;
    display: flex;
    flex-direction: row-reverse;
    background-color: brown;
    
}

.signature {
    color: rgba(192,192,192,0.90);
    /* background-color: aqua; */
    text-align: center;
    text-wrap: wrap;
    align-content: center;
    font-size: 0.7em;
    height: 10vh;
    width: 30vw;
}

.logo {
    font-size: 3em;
}

/* RESPONSIVENES FOR SMALL SCREENS PORTRAIT MODE */

@media (max-width: 500px ){
    .mainContainer{
        grid-template-columns: 1fr;
        grid-template-rows: 11vh 60vh 30vh repeat(3, 60vh) 10vh;
        grid-gap: 5em;
        grid-template-areas:
            "nav" 
            "bill"
            "wc"
            "cards"
            "cards"
            "cards"
            "ftr";
    }

    /* navbar */

    .navlink {
        display: none;
    }

    .navbar img {
        width: 15vw;
        margin-top: 0.5em;
        margin-right: 1em;
    }

    .logoLink {
        font-size: 1.5rem;

    }

    /* billboard */

    .billboardImg {
        padding-top: 0em;
        width: 98vw;
        border-radius: 1em;
    }

    /* cards */

    .cardsContainer {
        flex-direction: column;
        
    }
    .cards {
        width: 90vw;
        flex-direction: column;
        justify-content: center;
    }

    .cards img {
        width: 95vw;
    
    }
    .cards h3{
        width: 90vw;
    
    }
    .cards h4{
        width: 90vw;
    
    }
    .cards a{
        width: 90vw;
      
    
    }

    .cards img:hover {
        width: 98vw;   
    
    }

}

/* RESPONSIVENES FOR SMALL SCREENS LANDSCAPE MODE */

@media (min-width:501px ) and (max-width: 1170px){
    .mainContainer {
        grid-template-rows: 14vh 70vh 30vh 100vh 15vh;
        
    }



    .billboardImg {
        height: 55vh;
        width: 75vw;
        
    }


    .welcomeCenter {
        font-size: 1em;
    }

   
    .navbar img {
        margin-top: 0.5em;
   
    }

    .logoLink {
        display: none;

    }


    .cardsContainer {
        height: 100vh;
        width: 99vw;
        
    }
    .cards {
        height: 80vh;
        width: 30vw;
        
    }
    .cards img {
        height: 50vh;
        width: 35vw;
    
    }
    .cards h3{
        font-size: 1em;
    
    }
    .cards h4{
        font-size: 0.8em;
    
    }

    .cards img:hover {
        width: 38vw;   
    
    }


} 