/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;

}


/* CSS RESET FOR OLDER BROWSERS */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    
    display: block;
}

body {

    line-height: 1;

}

blockquote, q {
    
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {

    content: '';
    content: none;

}

table {
    
    border-collapse: collapse;
    border-spacing: 0;

}

strong, b {

    font-weight: bold;

}

em, i {

    font-style: italic;

}

a img {
    
    border: none;

}

/* END RESET */

/* INDEX PAGE STYLES */

html {

    scroll-behavior: smooth;
    scrollbar-width:none;
    font-family: 'Helvetica Neue',sans-serif;
    color: #000;

}

/* HEADER CONTAINER STYLES */

.headerContainer {
    
    justify-content: center;
    background-color: #fff;
    display: inline-flex;
    width: 100vw;
    height: 14vh;
    /* border: 5px solid purple; */    

}



.menuBoxes, .logoBox {
    
    font-size: 1em;
    align-items: end;
    cursor: pointer;  

}

a {
    
    text-decoration: none;
    color: #000;

}

nav {

    position: fixed;
    z-index: 1;
    background-color: #fff;
    display: inline-block;
    border-bottom:  0.09em solid silver;   
    width: 100vw;

}

.menuBoxes {
    
    margin-top: 1em;
    margin-left: 0.5em;
    height: 10vh;
    width: 14vw;
    justify-content: center;
    /* border: 1px solid blue; */

}

.logoBox {
  
    height: 12vh;
    width: 31.5vw;
    align-items: center;
    /* border: 1px solid green; */

}

.pageNameText {

    color: #000;
    font-weight: bold;
    height: 5vh;
    margin-bottom: 3em;
    /* border: 1px solid red;   */

}

.headerContainer img {

    width: 4em;
    height: 7vh;
    padding: 1em;
    cursor: default;
    /* border: 1px solid red; */
    
    
}



/* PRESENTATION CONTAINER */

.presentationContainer {

    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90vw;
    height: 85vh;
    /* border: 1px solid purple; */

}

.imgBox {

    display: flex;
    width: 89vw;
    height: 59vh;
    margin-top: 0.05em;
    margin-left: 0.1em;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */

}

#mainImg {

    height: 50vh;
    width: 63vh;
    margin: 0 auto;
    /* border: 1px solid yellowgreen; */

}

.titleBox {

    display: block;
    font-size: 1em;
    width: 50vw;
    height: 30vh;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    font-family: 'Helvetica Neue',sans-serif;
    line-height: 1.5;   
    /* border: 1px solid coral; */

}

/* END PRESENTATION CONTAINERS STYLES */

/* OPTIONS CONTAINER */

/* need to add @media here */

.optionsContainer {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 60vh;
    width: 90vw;
    margin: 0 auto;
    /* border: 1px solid red;  */

}

/* need to add @media here */
.optBox {
    
    line-height: 1.5;
    height: 50vh;
    width: 25vw;
    margin: 0.5em;
    padding: 0.1em .1em 2em;
    align-items: center;
    overflow: hidden;
    text-align: center;
    font-family: 'Helvetica Neue',sans-serif;
    background-color:rgba(192,192,192,0.53);
    border: 1px solid silver;

}

.optBox h3 {

    text-align: left;
    padding-left: 0.5em;
    font-size: 1.3rem;
    line-height: 4;   

}

.optBox h4 {

    font-size: 0.8rem;
    line-height: 1;
    text-align: left;
    padding-left: 0.5em;
}

.optBox img {
    
    height: 23vh;
    width: 25vw;
    transition: width 1s;
    

    /* border: 1px solid red; */

}

.optBox img:hover {

width: 26vw;

}